* The system replaces variable placeholders like ${firstname} and ${lastname} from a template with values provided at runtime.
* The system attempts to send a template with some variables not populated will raise an error.
* The system silently ignores values for variables that aren’t found from the template.